body {
  background-color: #2a2a2a;
  background-image: url('img/bg.jpg');
  background-repeat: repeat;
}

h1 {
  font-size: 48px;
  font-family: sans-serif;
  color: #fff;
  margin-left: 100px;
  margin-top: 250px;
}
