body {
  background-repeat: repeat;
  background-color: #2a2a2a;
  background-image: url('img/bg.jpg');
}
p {
  font-family: 'Roboto', sans-serif;
}
.widthRestrictor {
  width: 900px;
}
.intro p {
  font-size: 18px;
  color: #ccc;
  margin: 25px 0px 0px;
}
.navigation h1 {
  display: inline-block;
  font-family: 'Pinyon Script', cursive;
  font-size: 48px;
  color: #fff;
  margin: 250px 0px 0px 0px;
}
.navigation ul {
  display: inline-block;
}
.navigation li {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #666;
  list-style: none;
  padding: 0px 35px 0px 35px;
}
.navigation a {
  color: #fff;
}
.introHeading {
  font-size: 20px;
  color: #ccc;
  margin: 150px 0px 0px 0px;
}
.eduHeading {
  font-size: 20px;
  color: #ccc;
  margin: 50px 0px 0px;
}
.padFixer {
  padding: 0px;
}
.subTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #ccc;
  margin-top: 20px;
}
.location {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ccc;
}
.datesEnd {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ccc;
  font-style: italic;
}
.description {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #ccc;
  line-height: 25px;
}
.horLine {
  border-bottom: 1px solid #666;
  padding-bottom: 15px;
}
.employHeading {
  font-size: 20px;
  color: #ccc;
  margin: 50px 0px 0px;
}
.underlineSpan {
  padding-bottom: 5px;
  border-bottom: 2px solid #ccc;
}
